@page
@model eShop.Web.Pages.Todo.IndexModel
@{
    ViewData["Title"] = "Todo";
    //Layout = "_LayoutADMIN";
    int counter = 1;
}

@section styles {
    <abp-style src="/Pages/Todo/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Todo/Index.js" />
}


<!-- Todo -->
<div class="d-flex align-items-center mb-3">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">Home</a></li>
            <li class="breadcrumb-item active">Todo</li>
        </ol>
        <h1 class="page-header mb-0">Todo</h1>
    </div>
    <div class="ms-auto">
        <a asp-controller="ProductCategory" asp-action="AddOrEdit" class="btn btn-success btn-rounded px-4 rounded-pill"><i class="fa fa-plus fa-lg me-2 ms-n2 text-success-900"></i> Add New</a>
    </div>
</div>
<div class="mt-5 container col-xl-12">
    <!-- BEGIN panel -->
    <div class="panel panel-inverse" data-sortable-id="table-basic-7">
        <div class="panel-heading">
            <h4 class="panel-title">Todo List <span class="badge bg-success ms-5px">PRO</span></h4>
            @*<div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>*@
        </div>
        <!-- BEGIN panel-body -->
        <div class="panel-body">
            <!-- BEGIN table-responsive -->
            <div class="table-responsive">
                <table class="table table-hover mb-0 align-middle">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Todo List</th>
                            @*<th style="width: 50%">Category</th>*@
                            <th style="width: 11%"><a asp-controller="ProductCategory" asp-action="AddOrEdit" class="btn btn-block btn-secondary btn-sm"><i class="bi bi-plus-circle"></i> &nbsp; Add New</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TodoItems)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.Text</td>
                                @*<td>item.Name</td>*@
                                <td nowrap>
                                    <div class="btn-group btn-group-sm">
                                        <a asp-controller="ProductCategory" asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                        @*<form asp-controller="ProductCategory" asp-action="Delete" asp-route-id="@item.Id"><button type="submit" class="btn btn-secondary btn-sm" onclick="return confirm('Are you sure to delete this record?')"><i class="bi bi-trash"></i></button></form>*@
                                        <button class="deleteBtn btn btn-secondary btn-sm" type="button" data-id="@item.Id"><i class="bi bi-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="deleteForm" asp-action="Delete"><input type="hidden" id="leaveTypeId" name="Id" /></form>









<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>Todo List</abp-card-title>
        </abp-card-header>
        <abp-card-body>            
            
            <!-- FORM FOR NEW TODO ITEMS -->
            <form id="NewItemForm" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <div class="input-group">
                        <input id="NewItemText" type="text" class="form-control" placeholder="unesi...">
                    </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </form>
            
            <!-- TODO ITEMS LIST -->
            <ul id="TodoList">
                @foreach (var todoItem in Model.TodoItems)
                {
                    <li data-id="@todoItem.Id"><i class="fa fa-trash-o"></i> @todoItem.Text</li>
                }
            </ul>
        </abp-card-body>
    </abp-card>
</div>