@page
@using Microsoft.AspNetCore.Mvc.Localization
@using eShop.Localization
@using Volo.Abp.Users
@model eShop.Web.Pages.IndexModel
@inject IHtmlLocalizer<eShopResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">
        <div>
            <img src="/images/logo/logo.png" width="700" />
        </div>


        @*<div class="d-inline-block bg-info text-white p-1 h5 rounded mb-4" role="alert">
        <h5 class="m-1"> <i class="fas fa-rocket"></i> Congratulations, <strong>eShop</strong> is successfully running!</h5>
        </div>*@



        @if (!CurrentUser.IsAuthenticated)
        {
            <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>
            <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
        }
        else
        {
            <p class="lead px-lg-5 mx-lg-5">@L["Hello"] @CurrentUser.Name @CurrentUser.SurName</p>

        }
    </div>


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-auto text-center">
                    <img src="/images/eshop/product.png" style="max-width: 700px;" class="w-100 mb-5 my-md-3">
                </div>
                <div class="col-md d-flex align-items-center">
                    <div class="pe-0 pe-md-4">
                        <small class="text-uppercase text-muted">WE PRESENT TO YOU</small>
                        <h2 class="mb-4">FactoryX eShop</h2>
                        <p class="mb-4">The webshop enables the sale of products and services via the Internet. .NET technology enables the creation of a reliable and functional online store, and provides great opportunities for increasing visibility, sales and profitability for store owners, whether they are small or large companies. In short, a webshop is the best option for those who want to grow their business online.</p>
                        @*<div class="mb-4">
                        <a href="https://www.amazon.com/gp/product/B097Z2DM8Q/ref=dbs_a_def_rwt_hsch_vapi_tkin_p1_i0" class="btn btn-success mb-1">
                        Buy on Amazon US
                        </a>
                        <a href="https://www.packtpub.com/product/mastering-abp-framework/9781801079242" class="btn btn-primary mb-1">
                        Buy on PACKT
                        </a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="my-3 text-center">
        <h3>Let's improve your business !</h3>
        <p>Here are a few apps to help you get started:</p>
    </div>

    <div class="card mt-4 mb-5">
        <div class="card-body">
            <div class="row text-center justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-book text-secondary d-block my-3 fa-2x"></i>Todo List</h5>
                        <p>Great tool for add your notes.</p>
                        <a href="/Todo" target="_blank" class="btn btn-link px-1">See Todo <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-cubes text-secondary d-block my-3 fa-2x"></i>Categories</h5>
                        <p>Add some Categories to organize your webshop.</p>
                        <a href="/Categories" target="_blank" class="btn btn-link px-1">See Categories <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-users text-secondary d-block my-3 fa-2x"></i>Products</h5>
                        <p>Start adding products to your webshop.</p>
                        <a href="/Products" target="_blank" class="btn btn-link px-1">See Products <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-lg-3 justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-pen-nib text-secondary d-block my-3 fa-2x"></i> eShop Blog</h5>
                        <p>Take a look at our recently published articles.</p>
                        <a href="/" target="_blank" class="btn btn-link px-1">See Blog <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fab fa-github text-secondary d-block my-3 fa-2x"></i> Github</h5>
                        <p>Do you love the ABP Framework? Please <strong>give a star</strong> to support it!</p>
                        <p class="mb-1">
                            <a class="github-button" href="https://github.com/abpframework/abp" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star abpframework/abp on GitHub">Star</a>
                            <a class="github-button" href="https://github.com/abpframework/abp/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="false" aria-label="Issue abpframework/abp on GitHub">Issue</a>
                            <a class="github-button" href="https://github.com/abpframework/abp/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="false" aria-label="Fork abpframework/abp on GitHub">Fork</a>
                        </p>
                        <a href="https://github.com/abpframework/abp/issues/new?template=feature.md" target="_blank" class="btn btn-link px-1">Request a feature <i class="fas fa-chevron-right"></i></a>
                        <script async defer src="https://buttons.github.io/buttons.js"></script>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fab fa-stack-overflow text-secondary d-block my-3 fa-2x"></i>FactoryX</h5>
                        <p>Best web application on the market.</p>
                        <a href="https://www.factory-x.hr/en/" target="_blank" class="btn btn-link px-1">See FactoryX <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="mt-5 my-3 text-center">
    <h3>Meet the ABP Commercial</h3>
    <p>A Complete Web Application Platform Built on the ABP Framework</p>
    </div>*@

    @*<div class="card mt-4 mb-5">
    <div class="card-body">
    <p class="px-lg-5 mx-lg-5 py-3 text-center">
    <a href="https://commercial.abp.io/" target="_blank">ABP Commercial</a> is a platform based on the open source ABP framework. It provides pre-built application modules,
    rapid application development tooling, professional UI themes, premium support and more.
    </p>

    <div class="row text-center justify-content-md-center">
    <div class="col-lg-2">
    <div class="p-3">
    <h6>
    <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Startup Templates
    <a href="https://commercial.abp.io/startup-templates?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
    </h6>
    </div>
    </div>
    <div class="col-lg-2 border-start">
    <div class="p-3">
    <h6>
    <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Application Modules
    <a href="https://commercial.abp.io/modules?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
    </h6>
    </div>
    </div>
    <div class="col-lg-2 border-start">
    <div class="p-3">
    <h6>
    <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Developer<br />Tools
    <a href="https://commercial.abp.io/tools?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
    </h6>
    </div>
    </div>
    <div class="col-lg-2 border-start">
    <div class="p-3">
    <h6>
    <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> UI<br /> Themes
    <a href="https://commercial.abp.io/themes?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
    </h6>
    </div>
    </div>
    <div class="col-lg-2 border-start">
    <div class="p-3">
    <h6>
    <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Premium Support
    <a href="https://support.abp.io/QA/Questions?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
    </h6>
    </div>
    </div>
    <div class="col-lg-2 border-start">
    <div class="p-3">
    <h6>
    <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Additional Services
    <a href="https://commercial.abp.io/additional-services?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
    </h6>
    </div>
    </div>
    </div>
    </div>
    </div>*@
    @*<div class="mb-5 text-center">
    <p class="align-middle">
    <a href="https://twitter.com/abpframework" target="_blank" class="mx-2"><i class="fa fa-twitter"></i><span class="text-secondary"> Abp Framework</span></a>
    <a href="https://twitter.com/abpcommercial" target="_blank" class="mx-2"><i class="fa fa-twitter"></i><span class="text-secondary"> Abp Commercial</span></a>
    <a href="https://github.com/abpframework/abp" target="_blank" class="mx-2"><i class="fa fa-github"></i><span class="text-secondary"> abpframework</span></a>
    </p>
    </div>*@
</div>
