@page
@using eShop.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using eShop.Localization
@model eShop.Web.Pages.Products.IndexModel
@inject IStringLocalizer<eShopResource> L

@{
    ViewData["Title"] = "Products";
    //Layout = "_LayoutADMIN";
    int counter = 1;
}

@*@section scripts
    {
    <abp-script src="/Pages/Products/Index.cshtml.js" />
}*@


<!-- Products -->
<div class="d-flex align-items-center mb-3">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">Home</a></li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <h1 class="page-header mb-0">Products</h1>
    </div>
    <div class="ms-auto">
        @*<abp-button id="NewProductButton" text="@L["NewProduct"].Value" icon="plus" button-type="Primary" />*@
        <button class="btn btn-success btn-rounded px-4 rounded-pill" id="NewProductButton"><i class="fa fa-plus fa-lg me-2 ms-n2 text-success-900"></i> Add New</button>
                
        @*<button abp-model="Product" asp-page="/Products/AddProductModal" class="btn btn-success btn-rounded px-4 rounded-pill" id="NewProductButton" type="button" data-toggle="modal" data-target="#NewProductButton"><i class="fa fa-plus fa-lg me-2 ms-n2 text-success-900"></i> Add New</button>*@

        

        
        
        
        
        
        
        
        
        
        @*<a asp-controller="ProductCategory" asp-action="AddOrEdit" class="btn btn-success btn-rounded px-4 rounded-pill"><i class="fa fa-plus fa-lg me-2 ms-n2 text-success-900"></i> Add New</a>*@
    </div>
</div>
<div class="mt-5 container col-xl-12">
    <!-- BEGIN panel -->
    <div class="panel panel-inverse" data-sortable-id="table-basic-7">
        <div class="panel-heading">
            <h4 class="panel-title">Products <span class="badge bg-success ms-5px">PRO</span></h4>
        </div>
        <!-- BEGIN panel-body -->
        <div class="panel-body">
            <!-- BEGIN table-responsive -->
            <!-- BEGIN table-responsive -->
            <div class="table-responsive">
                <table class="table table-hover mb-0 align-middle">
                    <thead>
                        <tr>
                            <th style="width: 2%">#</th>
                            <th style="width: 7%">Image</th>
                            <th style="width: 25%">Title</th>
                            <th style="width: 5%">Category</th>
                            <th style="width: 5%" class="text-center">Stok State</th>
                            <th style="width: 5%" class="text-center">Price</th>
                            <th style="width: 5%" class="text-center">Create</th>
                            <th style="width: 11%"><a id="NewProductButton" class="btn btn-block btn-secondary btn-sm"><i class="bi bi-plus-circle"></i> Add New</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@counter</td>
                                <td><a href="@item.ImageUrl" class="popupImg"><img src="@item.ImageUrl" width="100" /></a></td>
                                <td><b>@item.Name</b></td>
                                <td>@item.CategoryName</td>
                                <!--<td>
                                    <div class="container">
                                        <main role="main">
                                            <div class="row row-cols-1 row-cols-md-4 g-1">

                                                foreach (var gallery in item.ProductImages)
                                                {
                                                    <div class="col">
                                                        <div class="card">
                                                            <img src="gallery.ImageUrl" class="card-img-top">
                                                            @* <div class="card-img-overlay">
                                                    <button class="deleteBtn btn btn-outline-red btn-xs" type="button" data-id="@gallery.Id"><i class="bi bi-trash"></i></button>
                                                    </div>*@
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </main>
                                    </div>
                                </td>-->
                                <td class="text-center">@item.StockState</td>
                                <td class="text-center">@item.Price</td>
                                <td class="text-center">@item.CreationTime</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a asp-page="/Products/ProductImage" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>

                                        @*<a asp-page="/Products/ProductImages" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>
                                        <a asp-page="/Product/ProductImages" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>*@

                                        @*<a asp-controller="Shop" asp-action="ItemView" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>
                                        <a asp-controller="ProductImages" asp-action="Create" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="fa-solid fa-image"></i></a>*@
                                        <a asp-controller="" asp-action="" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                        <button class="deleteBtn btn btn-secondary btn-sm" type="button" data-id="@item.Id"><i class="bi bi-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="deleteForm" asp-action="Delete"><input type="hidden" id="leaveTypeId" name="Id" /></form>





















<abp-card>

    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Menu:Products"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                <abp-button id="NewProductButton"
                            text="@L["NewProduct"].Value"
                            icon="plus"
                            button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>

    <abp-card-body>
        <abp-table id="Products" striped-rows="true" />
    </abp-card-body>

</abp-card>
